body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-line {
    height: 3px;
    background-color: #3b576d;
}

/* container */
.container {
    display: flex;
    height: 100vh;
}

/* leftside */
.leftside {
    flex: 1;
    background-color: #3b576d;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.leftside .info .profession {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.leftside .info .name {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.leftside .info .buttons a {
    color: #fff;
    display: inline-block;
    padding: 20px 40px;
    background-color: #FFF;
    color: #3b576d;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: 0 0 18px #000;
}

.leftside .info .buttons a.light {
    color: #FFF;
    background-color: #3b576d;
}

.rightside {
    flex: 1;
    background-image: url('../assets/images/semfundo.jpg');
    background-size: cover;
    background-position: center -50px;
    background-repeat: no-repeat;
}

/* Footer */
footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

footer a {
    color: #fff;
}

@media (max-width: 850px) {

    header {
        position: initial;
        background-color: #3b576d;
        border-bottom: 1px solid #fff;
    }

    header .menu-line {
        background-color: #fff;
    }

    .container {
        flex-direction: column;
    }

    .container .leftside {
        flex: none;
        padding: 30xp 20px;
        justify-content: center;
        text-align: center;
    }

    .container .rightside {
        background-size: 50%;
    }

    footer {
        position: relative;
        color: #fff;
        background-color: #3b576d;
        font-size: 13px;
        text-align: center;
    }
}

@media (max-width: 450px) {

    .container .rightside {
        background-position: top;
    }

    .container .leftside .info .name {
        font-size: 50px;
    }

    .container .leftside .info .buttons {
        display: block;
        margin-right: 0;
    }

    .container .leftside .info .buttons a {
        margin-bottom: 20px;
        padding: 10px 30px;
        font-size: 15px;
    }

    footer {
        margin-top: -100px;
    }
}
